@font-face {
	font-family: 'streetfighter';
	src: url('../fonts/ssf4_abuket.woff2') format('woff2'),
	url('../fonts/ssf4_abuket.woff') format('woff'),
	url('../fonts/ssf4_abuket.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}

html, body {
	height: 100%;
	width: 100%;
	position: fixed;
}

h1 {
	font-family: 'streetfighter', arial, sans-serif;
	text-align: center;
	padding: 40px;
	background: #e64517; /* Old browsers */
	background: -moz-linear-gradient(top, #e64517 0%, #fad32d 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #e64517 0%,#fad32d 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #e64517 0%,#fad32d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e64517', endColorstr='#fad32d',GradientType=0 ); /* IE6-9 */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

h1::first-letter {
	font-size: 150%;
}

h1 span {
	font-size: 150%;
}


h2 {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}


.bgImage {
	position: relative;
	height: 100%;
	background-image: url("../images/bg.jpg");
	background-position: center;
	background-size: cover; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;
}

.logo {
	width: auto;
	height: 250px;
	margin: 0 auto;
}

.gameEdition {
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	-webkit-text-stroke: 1px black;
	color: white;
	text-shadow:
	3px 3px 0 #000,
	-1px -1px 0 #000,  
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;
}

.characters {
	position: absolute;
	left: 0;
	bottom: 3px;
}

.fighterSelect {
	margin: 0;
	background: black;
	border: 2px solid white;
	cursor: pointer;
}

.noCursor, .noCursor div {
	cursor: default;
}

.playerHover {
	border: 2px solid blue;
}

.challengerHover {
	border: 2px solid red;
}

#player, #challenger {
	margin-top: 50px;
}

#player img {
	float: left;
	animation-duration: 0.2s;
	animation-name: leftSlidein;
}

@keyframes leftSlidein {
	from {
		margin-left: -100%;
	}

	to {
		margin-left: 0%;
	}
}

#challenger img {
	float: right;
	animation-duration: 0.2s;
	animation-name: rightSlidein;
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

@keyframes rightSlidein {
	from {
		margin-right: -100%;
	}

	to {
		margin-left: 0%;
	}
}

.fighterNickname {
	font-size: 5em;
	position: absolute; 
	top: 65%;
	transform: translateY(-65%);
	width: 100%;
	-webkit-text-stroke: 3px black;
	color: white;
	text-shadow:
	3px 3px 0 #FFF,
	-1px -1px 0 #FFF,  
	1px -1px 0 #FFF,
	-1px 1px 0 #FFF,
	1px 1px 0 #FFF;
}

.statsContainer {
	position: absolute;
	width: 100%;
	bottom: 0;
}

.playerBox {
	-webkit-transform: skew(-10deg);
	-moz-transform: skew(-10deg);
	-o-transform: skew(-10deg);
}

.challengerBox {
	-webkit-transform: skew(10deg);
	-moz-transform: skew(10deg);
	-o-transform: skew(10deg);
}

.playerBox, .challengerBox {
	width: 100px;
	height: 150px;
	background: rgba(0,0,0,.8);
	border: 2px solid white;
	margin: 20px;
	text-align: center;
	color: white;
	font-size: 1.3em;
	line-height: 1;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	padding: 0;
}

.playerBox h4, .challengerBox h4 {
	background-color: white;
	color: black;
}

.defeated img {
	filter: grayscale(100%);
}

.hideTheme {
	display: none;
}


